$width: 100%;
$height: 100vh;
$white: #ffffff;
$textButton: #45aaf2;
$radius: 8px;
$yellow: #f3ea21;

.container {
    position: relative;
    top: 0;
    left: 0;
}

.image-farm {
    width: $width;
    height: $height;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(102, 179, 255, 0.35), rgba(102, 179, 255, 0.55)); /* url('../../../assets/images/bkTechHouse.jpg') */ 
    background-size: cover;
}

.raindrop-title {
    position: absolute;
    text-align: center;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 1 !important;
    color: $white;
    font-size: 23px;
    white-space: pre-line;
}

.raindrop-title2 {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 10px 50px;
    left: 0;
    width: 100%;
    color: $white;
    z-index: 1 !important;
    font-size: 18px;
    white-space: pre-line;
}

.phone-container img {
    position: absolute;
    width: 30%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 140px;
    z-index: 1 !important;
    margin: auto auto;

}


#btn-rain {
    position: absolute;
    left: 50%;
    z-index: 1 !important;
    padding: 13px 50px 13px 50px;
    background: $white;
    border-radius: $radius;
    color: $textButton;
    bottom: 25%;
    display: block;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

#btn-rain:hover {
    background-color: #eeeeee;
    color: $textButton;
    -webkit-border-radius: #eeeeee;
    -moz-border-radius: #eeeeee;
    -ms-border-radius: #eeeeee;
    -o-border-radius: #eeeeee;
}

#raindrop-phone {
    position: absolute;
}

.rounded-cicle {
    position: absolute;
    left: 50%;
    bottom: 15%;
    display: block;
    margin: 0 auto;
    transform: translate(-55%, -55%);
    margin-right: -55%;
    -webkit-transform: translate(-55%, -55%);
    -moz-transform: translate(-55%, -55%);
    -ms-transform: translate(-55%, -55%);
    -o-transform: translate(-55%, -55%);
}

.dot {
    height: 20px;
    width: 20px;
    background-color: $yellow;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;

}

.social-images {
    position: absolute;
    left: 50%;
    display: block;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    margin-right: -50%;
}

.social {
    width: 35px;
    margin-left: 25px;
    display: inline !important;
    position: relative;
    z-index: 1 !important;
    bottom: 70px;
}