$blueText: #45aaf2;

.Navbar {
	 width: 100% !important;
	 display: flex;
		// justify-content: space-between;
		
	.navbar-menu {
		background-color: #006266 !important;
		width: 100%;
		
        // flex-wrap: nowrap;
	}

	.Navbar--{
		width: 100% !important;
	}

	.logo-lima {
		width: 18% !important;
		float: left !important;
		position: relative;
		bottom: 20px !important;
		left: 35px !important;
	}

	#left--{
		margin-left: auto !important;
        order: 2 !important;
	}

	.text-bottom{
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.div-left{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.text-agriculture{
	 margin-top: 9px;
	 margin-left: 33px;
	 font-size: 13.5px;
	 margin-bottom: 20px;
	 color: #f3ea21;
	 font-weight: bold;
	}

	.bell {
		color: #fff !important;
	}

	.text-bottom {
		position: absolute;
		right: 113px;
		font-size: 13px;
		top: 50px;
		color: white !important;
	}

	.mini-menu-margin-text {
		position: absolute;
		left: 17%;
		border-left: 1px solid #eeeeee !important;
	}

	.mini-navbar{
		border-radius: 0 !important;
	}
	.btn-logout {
		margin-left: '90px' !important;
	}
   .left-back{
	   font-size: 13px !important;
   }
   .data-value{
	   color:'#2e7d32' !important;
	   font-weight: bold !important;
   }

   .btn-logout{
	   display: block !important;
	   margin: 0 auto !important;
   }
}
